.swiperWrap {
  position: relative;
  overflow: hidden;
  /* width: 100%; */
  height: 260px;
  display: flex;
  align-items: center;
  user-select: none;
}
.swiper {
  position: relative;
  margin: auto;
  perspective: 50px;
  width: 100%;
  height: 200px;
}

.btn {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.btn .left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  z-index: 9999;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
}
.btn .right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  z-index: 9999;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
}

.swiperWrap:hover .right {
  opacity: 1;
  right: 10px;
}
.swiperWrap:hover .left {
  opacity: 1;
  left: 10px;
}

.dot {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.5s;
}

.dotItem {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e6e6e6;
  margin: 0 5px;
}

.active {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ec4141;
  margin: 0 5px;
}
