.coverImgUrl {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
}

.coverImgUrl img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sheetName {
  cursor: pointer;
}
