.sideBarItem {
  height: 40px;
  margin: 3px 0;
  padding: 0 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sideBarItem div {
  font-size: 14px;
  line-height: 40px;
}

.sideBarItem:hover {
  background-color: #f6f6f7;
}

.sideBarItem.active {
  background-color: #f6f6f7;
  font-weight: bold;
}

.sideBarItem.active div {
  font-weight: bold;
  font-size: 17px;
}

.sideBarItem .icon {
  margin-right: 5px;
  font-size: 18px;
}
