.muTable {
  width: 100%;
}
.muTable table {
  width: 100%;
}

.muTableHeader {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #888888;
}

.muTableItem {
  font-size: 14px;
  user-select: none;
}

.muTableItem:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.muTableItem:hover {
  background-color: #f0f1f2;
}

.tableIndex {
  height: 100%;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}
