.toast {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
  pointer-events: none;
}

.item {
  width: auto;
  display: block;
  height: 30px;

  margin: 10px auto;
  line-height: 30px;

  /* animation: toast-in 0.3s ease-out; */
  transition: all 0.3s;
  pointer-events: none;
}

.itemContent {
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 0.8px 2.2px rgba(0, 0, 0, 0.022), 0px 1.9px 5.3px rgba(0, 0, 0, 0.032),
    0px 3.6px 10px rgba(0, 0, 0, 0.04), 0px 6.5px 17.9px rgba(0, 0, 0, 0.048),
    0px 12.1px 33.4px rgba(0, 0, 0, 0.058), 0px 29px 80px rgba(0, 0, 0, 0.08);
  padding: 2px 8px;
  pointer-events: all;
}

@keyframes toast-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
