.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentItem {
  .header {
    height: 34px;
    line-height: 34px;
  }
  margin-bottom: 10px;
}

.ListWrap {
  display: grid;
  grid-gap: 5px 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.tabBarItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 12px !important;
  cursor: pointer;
  padding: 0px 10px;
  color: #373737;
  margin: 0 10px;
}

.tabBarItemActive {
  font-size: 12px;

  background-color: #fdf5f5;
  color: #ec4141;
  height: 20px;
}
.tabBarItemActive:after {
  content: none !important;
}
