.musicControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  user-select: none;
  overflow: hidden;
}

.top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--iconColor);
  font-size: 20px;
  margin-bottom: 5px;
}

.icon {
  margin: 0 15px;
}
.icon:hover {
  color: #ee5959;
}

.playIcon {
  padding: 5px;
  background: rgba(148, 148, 148, 0.325);
  border-radius: 50%;
}

.playIcon:hover {
  background: rgba(148, 148, 148, 0.49);
  color: #333333;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  line-height: 40px;
  color: #999999;
  font-size: 15px;
}
